{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "mozorg/internet-health/podcast/base.html" %}

{% block page_content %}
<section class="section">
  <p>
    It doesn't know why we want to kill it. It just wants to go home. Give them ridiculous French accents. Our toaster is also confused.
  </p>

  {% include 'mozorg/internet-health/podcast/includes/subscribe-links.html' %}

  <p>
    Hi boys. I'm Tina. I texted back a smiley face. She texted back some letters I don't understand. If I drunk text you and you're asleep, don't text me in the morning…that ship has sailed. Everyone began to touch each other's butts. I don't know. Eating lobster? It goes against everything we were taught to believe. And I'm gonna read it to the whole school myself. Dear Diary: Tonight I'm sneaking off to the abandoned taffy factory to look for treasure. Also, if boys had uteruses, they'd be called duderuses. If we see any mermaids, I'm gonna ask them where their merginas are. Hi boys. I'm Tina. This is where I thrash. Do you think horses get songs stuck in their heads? The hand wants what the hand wants. I could go to jail, or hell, or jail-hell. I need both ears to hold up my glasses. If you need me, I'll be down here on the floor. Dying.
  </p>

  <p>
    Brr, it sure is cold in here. I wish some strong, chivalrous man would lend me his jacket, or his pants. Explore the morgue? Time for the charm bomb to explode. This is where I thrash. I had no idea there was so much butt touching in baseball. Our toaster is also confused. It doesn't know where bagels go. My crotch is itchy. If I drunk text you and you're asleep, don't text me in the morning…that ship has sailed. If I drunk text you and you're asleep, don't text me in the morning…that ship has sailed. Follow me fellas...Lets go somewhere where the sixteen of us can be alone. Follow me fellas...Lets go somewhere where the sixteen of us can be alone. I'm torn. Dad raised me, but the shark gets me. My hearttttttttt. I guess she doesn't like wearing clothes.
  </p>

  <p>
    Sometimes with Jimmy Jr, I don't know what to say. But now I don't know what not to say and it's like okay guys, who can get to my mouth first? Everyone touched each other's butts, and it was great. Buns...sen. Argh!... Wait, I like the library. Is it possible to be in love with 25 people at once? Crap attack? Don't have one? Argh!... Wait, I like the library. This is like watching two monkeys at the puberty zoo. I didn't know our county was bi. Good for us. This is such a snore-gasm. He did? That's the sleaziest, sneakiest, most romantic thing anyone's ever done to me. Dad, you're the best pimp a girl could ever have. I've logged over 3,000 fantasy hours on my relationship with Jimmy Jr. You don't just throw that away. Ugg, my heart just pooped its pants.
  </p>
</section>
{% endblock %}
