{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "base-pebbles.html" %}

{% block extra_meta %}
  <meta name="apple-itunes-app" content="app-id=PODCAST_ID_HERE">
{% endblock %}

{% block page_title %}{% endblock %}

{% block page_desc %}{% endblock %}

{% block page_image %}{% endblock %}

{% block body_id %}internet-health-podcast{% endblock %}
{% block body_class %}{% endblock %}

{% block page_css %}
  {% stylesheet 'internet-health-podcast' %}
{% endblock %}

{% block site_header %}{% endblock %}

{% block content %}
<main role="main">
  {% include 'mozorg/internet-health/podcast/includes/header.html' %}
  {% block page_content %}{% endblock %}
</main>
{% endblock %}

{% block email_form %}{% endblock %}

{% block site_footer %}
{% endblock %}

{% block js %}{% endblock %}
