{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "mozorg/internet-health/podcast/base.html" %}

{% block page_content %}
<section class="section" id="intro">
  <p>
    Hi boys. I'm Tina. Dear God, this is Tina from school. I've logged over 3,000 fantasy hours on my relationship with Jimmy Jr. You don't just throw that away. Dr. Yap, once I was into you, but after seeing you torture my father, I think we should just be friends with dental benefits. It's an erotic friend fiction story that I just wrote. I hope you like it, because you're all in it. It's called 'Buttloose.' Dad, if you believe you're beautiful, you will be. I did. Argh!... Wait, I like the library. Dad, I need you to drop everything and shave my legs.
  </p>

  {% include 'mozorg/internet-health/podcast/includes/subscribe-links.html' %}
</section>

<section class="section" id="episodes">
  <h2 class="section-title">Episodes</h2>

  <p>
    Our first episode launches June 13th!
  </p>
</section>
{% endblock %}
